<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/commHeader :: myCommHeader(~{::title})">
    <title>角色管理</title>
</head>
<body>
<div id="chenjian">
    <!--列表顶部搜索和工具条-->
    <el-row>
            <el-button type="success" @click="addClick" icon="el-icon-circle-plus">添加角色</el-button>
    </el-row>

    <!---------------------------------角色列表--------------------------------------------->
    <el-table
            :data="roleList"
            border
            v-loading.body="loading"
    >
        <!--设置默认排序列和排序规则-->
        <el-table-column
                prop="id"
                label="编号"
                width="180"
        >
        </el-table-column>
        <el-table-column
                prop="name"
                label="角色名称"
                width="180"
        >
        </el-table-column>
        <el-table-column
                prop="seq"
                label="序号"
                width="90"
                sortable>
        </el-table-column>
        <el-table-column
                prop="description"
                label="角色描述"
                width="180">
        </el-table-column>
        <el-table-column
                prop="status"
                label="角色状态"
                width="100">
        </el-table-column>
        <el-table-column
                label="操作" width="270">
            <template slot-scope="scope">
                <el-button :plain="true" type="primary" size="small" icon="el-icon-check" @click="grantClick(scope.row)">授权
                </el-button>
                <el-button :plain="true" type="success" size="small" icon="el-icon-edit" @click="editClick(scope.row)">修改
                </el-button>
                <el-button :plain="true" type="danger" size="small" icon="el-icon-delete" @click="deleteRole(scope.row)">删除
                </el-button>
            </template>
        </el-table-column>
    </el-table>
    <!---------------------------------角色添加对话框--------------------------------------------->
    <el-dialog
            title="添加角色"
            :visible.sync="centerDialogVisible"
            width="40%"
            center >
        <el-form ref="form" :model="form" label-width="80px" >
            <el-form-item label="角色名称">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="序号">
                <el-input v-model="form.seq"></el-input>
            </el-form-item>
            <el-form-item label="角色描述">
                <el-input v-model="form.description"></el-input>
            </el-form-item>
            <el-form-item label="角色状态" prop="status">
                <el-select v-model="form.status" placeholder="角色状态">
                    <el-option v-for="item in selectStatusList" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
    <el-button @click="centerDialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="addSubmit">确 定</el-button>
  </span>
    </el-dialog>
    <!---------------------------------角色授权对话框--------------------------------------------->
    <el-dialog
            title="角色授权"
            :visible.sync="grantDialogVisible"
            width="40%"
            center >
        <el-tree
                :data="grantRoleList"
                show-checkbox
                node-key="id"
                ref="tree"
                :default-expanded-keys="opened"
                :default-checked-keys="resourceCheckedIds"
                :props="defaultProps"
         >
        </el-tree>
        <span slot="footer" class="dialog-footer">
            <el-button @click="grantDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="grantSubmit">确 定</el-button>
        </span>
    </el-dialog>
    <!---------------------------------角色修改对话框--------------------------------------------->
    <el-dialog
            title="修改角色"
            :visible.sync="editcenterDialogVisible"
            width="40%"
            center
            :close-on-click-modal="false">
        <el-form ref="form" :model="editForm" label-width="80px" >
            <el-form-item label="角色名称">
                <el-input v-model="editForm.name"></el-input>
            </el-form-item>
            <el-form-item label="序号">
                <el-input v-model="editForm.seq"></el-input>
            </el-form-item>
            <el-form-item label="角色描述">
                <el-input v-model="editForm.description"></el-input>
            </el-form-item>
            <el-form-item label="角色状态" prop="status">
                <el-select v-model="editForm.status" placeholder="角色状态">
                    <el-option v-for="item in selectStatusList" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
    <el-button @click="editcenterDialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="editmySubmit">确 定</el-button>
  </span>
    </el-dialog>
</div>

</body>
<script type="text/javascript">
    var vm = new Vue({
        el: '#chenjian',
        data: {
            loading: true,
            roleList: [],
            opened:[],
            selectStatusList:[{label:"正常",value:0},{label:"禁用",value:1}],
            //编辑界面是否显示
            centerDialogVisible: false,
            editcenterDialogVisible: false,
            grantDialogVisible:false,
            form: {
                name: '',
                seq: 0,
                description: '',
                status:0
            },
            editForm: {
                name: '',
                seq: 0,
                description: '',
                status:0
            },
            //显示加载中样式
            loading:false,
            //tree的默认属性
            defaultProps:{
                children: 'children',
                label: 'text',
                id:'id',
            },
            //tree集合
            grantRoleList:[],
            resourceCheckedIds:[],
            //提交授权使用，key1是 roleId key2是 选中的resourceID
            grantMap:{
                checkedResourceList:[],
                id:0
            }
        },
        created() {
            var url = "findAllRole";
            console.info("加载数据成功");
            axios.post(url).then(function (response) {
                vm.roleList = response.data;
            });
        },
        methods: {
            //表格重新加载数据
            loadingData: function () {
                //定义请求的url
                var url = "findAllRole";
                vm.loading = true;
                setTimeout(function(){
                    console.info("加载数据成功");
                    axios.post(url).then(function (response) {
                        vm.roleList = response.data;
                    });
                    vm.loading = false;
                },300);
            },
            deleteRole: function (row) {
                var url = "delRoleById?id=" + row.id;
                axios.get(url).then(function (response) {
                    vm.loadingData();//重新加载数据
                    vm.open5(response.data.message);//将后台传入的操作成功失败信息显示在前台
                }).catch(function (error) {
                    console.log(error);
                });
            },
            //添加角色
            addClick: function () {
                vm.centerDialogVisible = true;

            },
            //表格编辑事件
            grantClick: function (row) {
                vm.grantDialogVisible = true;
                vm.grantMap.id=row.id;
                console.info(row.id);
                var url="findResourceByRoleId?id="+row.id;
                axios.post(url).then(function (response) {
                    //返回所有的权限
                    vm.grantRoleList = response.data.resourceListTree;
                    vm.resourceCheckedIds = response.data.resourceCheckedIds;
                    console.info(vm.resourceCheckedIds);
                });

            },
            grantSubmit:function(){
                var url="addGrandResource";
                console.log(this.$refs.tree.getHalfCheckedKeys());
                var  leaf=this.$refs.tree.getCheckedKeys();
                var  half=this.$refs.tree.getHalfCheckedKeys();
                vm.grantMap.checkedResourceList=leaf.concat(half);

                axios.post(url,vm.grantMap).then(function (response) {
                   if(response.data.retStatus==0){
                       vm.grantDialogVisible = false;
                       vm.loadingData();
                   }
                    vm.open5(response.data.message);
                });
            },
            editClick: function (row) {
                vm.editcenterDialogVisible = true;
                vm.editform = Object.assign({}, row);
                var tempArray=vm.editform.imageUrls.split(',');//将字符串转换成字符串数组
                vm.editeFileLists=[];
                for(var i=0;i<tempArray.length;i++){
                    //封装editeFileLists 对象数组
                    vm.editeFileLists.push({"url":tempArray[i]});
                }
            },
            //添加角色提交
            addSubmit: function () {
                var url = "addRole";
                axios.post(url, vm.form).then(function (response) {
                    //添加成功！
                    vm.centerDialogVisible = false;
                    //恢复添加表单的默认值
                    vm.form={ name: '',
                        seq: 0,
                        description: '',
                        status:0};
                    vm.loadingData();
                    vm.open5(response.data.message)
                }).catch(function (error) {
                    console.log(error);
                });


            },
            //编辑角色提交
            editmySubmit: function () {
                var url = "editUser";
                axios.post(url, vm.editform).then(function (response) {
                    vm.editcenterDialogVisible = false;
                    vm.loadingData();//重新加载数据
                    vm.open5(response.data.message)
                }).catch(function (error) {
                    console.log(error);
                });
            },
            open5(msg) {
                this.$notify.info({
                    title: '消息',
                    message: msg
                });
            },
            getCheckedKeys() {
                console.log(this.$refs.tree.getCheckedKeys());
            }



        }

    });
</script>
</body>
</html>