<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:replace="common/commHeader :: commHeader(~{::title})">
    <title>资源管理</title>
</head>
<body>
<div id="chenjian">
    <!---------------------------------资源列表--------------------------------------------->
    <el-table
            :data="resourceList"
            border
            v-loading.body="loading"
    >
        <el-table-column
                prop="id"
                label="编号"
                width="180"
        >
        </el-table-column>
        <el-table-column
                prop="name"
                label="资源名称"
                width="180"
        >
        </el-table-column>
        <el-table-column
                prop="url"
                label="资源路径"
                width="180"
                >
        </el-table-column>
        <el-table-column
                prop="icon"
                label="图标"
                width="180"
                >
        </el-table-column>
        <el-table-column
                prop="resourceType"
                label="资源类型"
                width="180"
                :formatter="formatterResourceTypeColumn"
                >
        </el-table-column>

        <el-table-column
                prop="createTime"
                label="创建时间"
                width="180">
        </el-table-column>
        <el-table-column
                label="操作" width="180">
            <template slot-scope="scope">
                <el-button :plain="true" type="success" size="small" icon="edit" @click="editClick(scope.row)">编辑
                </el-button>
                <el-button :plain="true" type="danger" size="small" icon="delete" @click="deleteUser(scope.row)">删除
                </el-button>
            </template>
        </el-table-column>
    </el-table>
    <!---------------------------------资源添加对话框--------------------------------------------->
    <el-dialog
            title="添加资源"
            :visible.sync="centerDialogVisible"
            width="30%"
            center>
        <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="用户名">
                <el-input v-model="form.username"></el-input>
            </el-form-item>
            <el-form-item label="密码">
                <el-input v-model="form.password"></el-input>
            </el-form-item>
            <el-form-item label="创建时间">
                <el-col>
                    <el-date-picker
                            v-model="form.createtime"
                            type="datetime"
                            value-format="yyyy-MM-dd hh:mm:ss"
                            placeholder="选择日期时间">
                    </el-date-picker>
                </el-col>

            </el-form-item>
        </el-form>
    </el-dialog>
            <!---------------------------------资源修改对话框--------------------------------------------->
            <el-dialog
                    title="修改用户"
                    :visible.sync="editcenterDialogVisible"
                    width="30%"
                    center
                    :close-on-click-modal="false">
                <el-form ref="formb" :model="form" label-width="80px">
                    <el-form-item label="用户ID">
                        <el-input v-model="editform.id"></el-input>
                    </el-form-item>
                    <el-form-item label="用户名">
                        <el-input v-model="editform.username"></el-input>
                    </el-form-item>
                    <el-form-item label="密码">
                        <el-input v-model="editform.password"></el-input>
                    </el-form-item>
                    <el-form-item label="创建时间">
                        <el-col>
                            <el-date-picker
                                    v-model="editform.createtime"
                                    type="datetime"
                                    value-format="yyyy-MM-dd hh:mm:ss"
                                    placeholder="选择日期时间">
                            </el-date-picker>
                        </el-col>

                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
    <el-button @click="editcenterDialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="editmySubmit">确 定</el-button>
  </span>
            </el-dialog>
</div>

</body>
<script type="text/javascript">
    var vm = new Vue({
        el: '#chenjian',
        data: {
            loading: true,
            resourceList: [],
            //添加和编辑界面是否显示
            centerDialogVisible: false,
            editcenterDialogVisible: false,
            username: '',
            form: {
                username: '',
                password: '',
                createtime: '',
                fileLists: [],
                imageUrls: ''
            },
            editform: {
                username: '',
                password: '',
                createtime: '',
                fileLists: [],
                imageUrls: ''
            },
            //编辑用filelist
            editeFileLists: [],
            //显示加载中样式
            loading: false,
        },
        created() {
            var url = "showAllResourcesList";
            var _self=this;
            axios.post(url).then(function (response) {
                console.info(response.data);
                _self.resourceList = response.data;
            });
        },
        methods: {
            //表格重新加载数据
            loadingData: function () {
                //定义请求的url
                var url = "showAllResourcesList";
                vm.loading = true;
                setTimeout(function () {
                    alert(111111111);
                    console.info("加载资源数据成功");
                    axios.post(url).then(function (response) {
                        vm.resourceList = response.data;
                    });
                    vm.loading = false;
                }, 300);
            },
            deleteUser: function (row) {
                var url = "delUserById?id=" + row.id;
                axios.get(url).then(function (response) {
                    vm.loadingData();//重新加载数据
                    vm.open5(response.data.message);//将后台传入的操作成功失败信息显示在前台
                }).catch(function (error) {
                    console.log(error);
                });
            },
            //添加用户
            addClick: function () {
                vm.centerDialogVisible = true;

            },
            //表格编辑事件
            editClick: function (row) {
                vm.editcenterDialogVisible = true;
                //vm.editform = row;
                //Object.assign()接口可以接收多个参数，第一个参数是
                // 目标对象，后面的都是源对象，assign方法将多个原对象的属性和方法都合并
                // 到了目标对象上面，如果在这个过程中出现同名的属性（方法），后合并的属性（方法）
                // 会覆盖之前的同名属性（方法）。
                vm.editform = Object.assign({}, row);
                var tempArray = vm.editform.imageUrls.split(',');//将字符串转换成字符串数组
                vm.editeFileLists = [];
                for (var i = 0; i < tempArray.length; i++) {
                    //封装editeFileLists 对象数组
                    vm.editeFileLists.push({"url": tempArray[i]});
                }
            },
            //添加用户提交
            mySubmit: function () {
                var url = "addUser";
                var urls = [];
                for (var i = 0; i < vm.form.fileLists.length; i++) {
                    urls.push(vm.form.fileLists[i].url);
                }
                vm.form.imageUrls = urls.join(',');
                axios.post(url, vm.form).then(function (response) {
                    //添加成功！
                    vm.centerDialogVisible = false;
                    //恢复添加表单的默认值
                    vm.form = {"username": '', "password": '', "password": '', "createtime": '', "fileLists": []};
                    vm.loadingData();
                    vm.open5(response.data.message)
                }).catch(function (error) {
                    console.log(error);
                });
            },
            //编辑用户提交
            editmySubmit: function () {
                var url = "editUser";
                axios.post(url, vm.editform).then(function (response) {
                    vm.editcenterDialogVisible = false;
                    vm.loadingData();//重新加载数据
                    vm.open5(response.data.message)
                }).catch(function (error) {
                    console.log(error);
                });
            },
            open5(msg) {
                this.$notify.info({
                    title: '消息',
                    message: msg
                });
            },
            formatterResourceTypeColumn(row){
                if(row.resourceType==0){
                    return "菜单"
                }else{
                    return "按钮"
                }

            },
            treeToArray(  data,
                          expandAll,
                          parent = null,
                          level = null){
                let tmp = [];
                Array.from(data).forEach(function(record) {
                    if (record._expanded === undefined) {
                        Vue.set(record, "_expanded", expandAll);
                    }
                    let _level = 1;
                    if (level !== undefined && level !== null) {
                        _level = level + 1;
                    }
                    Vue.set(record, "_level", _level);
                    // 如果有父元素
                    if (parent) {
                        Vue.set(record, "parent", parent);
                    }
                    tmp.push(record);
                    if (record.child && record.child.length > 0) {
                        const child = vm.treeToArray(record.child, expandAll, record, _level);
                        tmp = tmp.concat(child);
                    }
                });
                return tmp;
            }



        }

    });
</script>
</body>
</html>