<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/commHeader :: myCommHeader(~{::title})">
    <title>资源管理</title>
</head>
<body>
<div id="chenjian">
    <el-button type="success" @click="addResource" icon="el-icon-circle-plus">添加资源</el-button>
    <!---------------------------------资源列表--------------------------------------------->
    <div>
        <el-tree v-loading="loading" :data="treeData" :props="defaultProps" node-key="id" :expand-on-click-node="false">
            <span class="custom-tree-node" slot-scope="{ node, data }">
                <span>{{node.label}}
                    <i class="el-icon-edit-outline" @click.stop="() => editResource(node, data)"></i>
                    <i class="el-icon-delete" @click.stop="() => deleteResource(node,data)"></i>
                </span>
            </span>
        </el-tree>
    </div>
    <!---------------------------------资源添加对话框--------------------------------------------->
    <el-dialog
            title="添加资源"
            :visible.sync="addResourceDialogVisible"
            width="680px"
            center
            >
        <el-form :inline="true" :model="addForm" :rules="addRules" class="demo-form-inline" >
            <el-form-item label="资源名称" prop="name">
                <el-input v-model="addForm.name" placeholder="资源名称"></el-input>
            </el-form-item>
            <el-form-item label="资源类型" prop="resourceType">
                <el-select v-model="addForm.resourceType" placeholder="资源类型">
                    <el-option v-for="item in selectList" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="资源路径" prop="url">
                <el-input v-model="addForm.url" placeholder="资源路径"></el-input>
            </el-form-item>
            <el-form-item label="资源图标">
                <el-input v-model="addForm.icon" placeholder="资源图标"></el-input>
            </el-form-item>
            <el-form-item label="资源排序">
                <el-input v-model="addForm.seq" placeholder="排序"></el-input>
            </el-form-item>
            <el-form-item label="上级资源">
                <el-input v-model="addForm.pname" @focus="chooseParent" >
                </el-input >
            </el-form-item>
            <input type="hidden" v-model="addForm.pid">
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="addResourceDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="addSubmit">确 定</el-button>
        </span>
    </el-dialog >
    <!--显示父级资源树-->
    <el-dialog :visible.sync="parentTreeDialogVisible">
        <el-tree :data="parentTreeData" :props="defaultProps" node-key="id" :expand-on-click-node="false" @node-click="parentNodeClick">
            <span class="custom-tree-node" slot-scope="{ node, data }">
                <span>{{node.label}}
                </span>
            </span>
        </el-tree>
    </el-dialog>
            <!---------------------------------资源修改对话框--------------------------------------------->
    <el-dialog
            title="修改资源"
            :visible.sync="editResourceDialogVisible"
            width="680px"
            center
    >
        <el-form :inline="true" :model="editform" :rules="addRules" class="demo-form-inline" >
            <el-form-item label="资源名称" prop="name">
                <el-input v-model="editform.name" placeholder="资源名称"></el-input>
            </el-form-item>
            <el-form-item label="资源类型" prop="resourceType">
                <el-select v-model="editform.resourceType"  placeholder="资源类型">
                    <el-option v-for="item in selectList" :label="item.label" :value="item.value">
                    </el-option>

                </el-select>
            </el-form-item>
            <el-form-item label="资源路径" prop="url">
                <el-input v-model="editform.url" placeholder="资源路径"></el-input>
            </el-form-item>
            <el-form-item label="资源图标">
                <el-input v-model="editform.icon" placeholder="资源图标"></el-input>
            </el-form-item>
            <el-form-item label="资源排序">
                <el-input v-model="editform.seq" placeholder="排序"></el-input>
            </el-form-item>
            <el-form-item label="上级资源">
                <el-input v-model="editform.pname" @focus="chooseParent" >
                </el-input >
            </el-form-item>
            <input type="hidden" v-model="editform.pid">
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="editResourceDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="editSubmit">确 定</el-button>
        </span>
    </el-dialog >
    <!--显示父级资源树-->
    <el-dialog :visible.sync="parentTreeDialogVisible">
        <el-tree :data="parentTreeData" :props="defaultProps" node-key="id" :expand-on-click-node="false" @node-click="parentEditNodeClick">
            <span class="custom-tree-node" slot-scope="{ node, data }">
                <span>{{node.label}}
                </span>
            </span>
        </el-tree>
    </el-dialog>
</div>

</body>
<script type="text/javascript">
    let id = 1000;
    var vm = new Vue({
        el: '#chenjian',
        data: {
            loading: true,
            //全部资源树
            treeData:[],
            //父级资源树
            parentTreeData:[],
            //添加和编辑界面是否显示,默认隐藏
            addResourceDialogVisible: false,
            editResourceDialogVisible: false,
            parentTreeDialogVisible:false,
            username: '',
            addForm: {
                name: '',
                resourceType: '',
                url: '',
                icon: '',
                seq: '',
                pid:'',
                pname:''
            },
            editform: {
                name: '',
                resourceType: '',
                url: '',
                icon: '',
                seq: '',
                pid:'',
                pname:''
            },
            //编辑用filelist
            editeFileLists: [],
            //显示加载中样式
            loading: false,
            defaultProps: {
                children: 'children',
                label: 'text',
                resourceType:'resourceType'
            },
            addRules:{
                name: [
                    { required: true, message: '请输入资源名称', trigger: 'blur' }
                ],
                url: [
                    { required: true, message: '请输入资源路径', trigger: 'blur' },
                ],
            },
            selectList:[{label:"菜单",value:0},{label:"按钮",value:1}]
        },
        created() {
            var url = "showAllResourcesTree";
            var _self=this;
            axios.post(url).then(function (response) {
                console.info(response.data);
                _self.treeData = response.data;
            });
        },
        methods: {
            //表格重新加载数据
            loadingData: function () {
                //定义请求的url
                var url = "showAllResourcesTree";
                vm.loading = true;
                setTimeout(function () {
                    console.info("加载资源数据成功");
                    axios.post(url).then(function (response) {
                        vm.treeData = response.data;
                    });
                    vm.loading = false;
                }, 300);
            },
            //删除资源
            deleteResource: function (node,data) {
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    var url = "deleteResourceById?id=" + data.id;
                    axios.get(url).then(function (response) {
                        vm.loadingData();//重新加载数据
                        vm.open5(response.data.message);//将后台传入的操作成功失败信息显示在前台
                    }).catch(function (error) {
                        console.log(error);
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },
            //添加资源提交
            addSubmit: function () {
                var url = "addResource";
                axios.post(url, vm.addForm).then(function (response) {
                    //添加成功！
                    vm.addResourceDialogVisible = false;
                    //恢复添加表单的默认值
                    vm.addForm = { name: '',
                        resourceType: '',
                        url: '',
                        icon: '',
                        seq: '',
                        pid:'',
                        pname:''};
                    vm.loadingData();
                    vm.open5(response.data.message)
                }).catch(function (error) {
                    console.log(error);
                });
            },
            //编辑用户提交
            editResource: function (node,data) {
                var url = "findResourceById?id="+data.id;
                axios.post(url).then(function (response) {
                    vm.editResourceDialogVisible = true;
                    vm.editform=response.data;
                    console.info(vm.editform);
                }).catch(function (error) {
                    console.log(error);
                });


            },
            editSubmit:function(){
                var url = "editResource";
                axios.post(url, vm.editform).then(function (response) {
                    vm.editResourceDialogVisible = false;
                    vm.loadingData();//重新加载数据
                    vm.open5(response.data.message)
                }).catch(function (error) {
                    console.log(error);
                });
            },
            open5(msg) {
                this.$notify.info({
                    title: '消息',
                    message: msg
                });
            },
            //添加资源
            addResource() {
               vm.addResourceDialogVisible=true;

            },
            remove(node, data) {
                debugger;
                const parent = node.parent
                const children = parent.data.children || parent.data;
                const index = children.findIndex(d => d.id === data.id);
                children.splice(index, 1);
                this.$message({
                    type: 'success',
                    message: 'delete ok'
                })

            },
            //选择父级节点
            chooseParent(){
                var url="showAllParentResourcesTree";
                axios.post(url).then(function (response) {
                    console.info(response.data);
                    vm.parentTreeData = response.data;
                });
                vm.parentTreeDialogVisible=true;
            },
            //将选中的菜单显示到添加对话框的上级资源中
            parentNodeClick(data, node, el) {
               console.info(data)
               vm.addForm.pname=data.text;
               vm.addForm.pid=data.id;
               vm.parentTreeDialogVisible=false;

            },
            //将选中的菜单显示到编辑对话框的上级资源中
            parentEditNodeClick(data, node, el) {
               console.info(data)
               vm.editform.pname=data.text;
               vm.editform.pid=data.id;
               vm.parentTreeDialogVisible=false;

            },
        }

    });
</script>
</body>
</html>