<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间指向dao接口 -->
<mapper namespace="com.aaa.dao.UserMapper">
	<select id="findByName" resultType="com.aaa.entity.User">
		select * from user where login_name=#{loginName}
	</select>
</mapper>