<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间指向dao接口 -->
<mapper namespace="com.aaa.dao.UserMapper">
	<resultMap id="UserResultMap" type="com.aaa.entity.User">
		<result column="id" jdbcType="BIGINT" property="id" />
		<result column="login_name" jdbcType="VARCHAR" property="loginName" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="salt" jdbcType="VARCHAR" property="salt" />
		<result column="sex" jdbcType="TINYINT" property="sex" />
		<result column="age" jdbcType="TINYINT" property="age" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="user_type" jdbcType="TINYINT" property="userType" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="organization_id" jdbcType="INTEGER" property="organizationId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="path" jdbcType="VARCHAR" property="path" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<collection property="roles" ofType="com.aaa.entity.Role" resultMap="RoleResultMap">
		</collection>
	</resultMap>
	<resultMap id="RoleResultMap" type="com.aaa.entity.Role">
		<result column="role_id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="seq" jdbcType="TINYINT" property="seq" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<collection property="resources" ofType="com.aaa.entity.Resource" resultMap="com.aaa.dao.ResourceMapper.BaseResultMap"></collection>
	</resultMap>
	
	<select id="findByName" resultType="com.aaa.entity.User">
		select * from user where login_name=#{loginName}
	</select>
<!--	<select id="findRoleByUserId" parameterType="integer" resultType="com.aaa.entity.Role">
		select * from user_role ur inner join role r on ur.role_id=r.id where ur.user_id=#{id}
	</select>-->
	<select id="findRoleByUserId" parameterType="long" resultMap="RoleResultMap">
		select * from user_role ur left join role r on ur.role_id=r.id where ur.user_id=#{id}
	</select>
	<select id="findResourceByRoleIds" parameterType="long" resultMap="com.aaa.dao.ResourceMapper.BaseResultMap">
		select r.* from role_resource rr left join resource r on rr.resource_id=r.id where rr.role_id =#{roleId}

	</select>
</mapper>